[submodule "vendor/tween-promise"]
	path = vendor/tween-promise
	url = https://github.com/EgoMoose/tween-promise.git
[submodule "vendor/TweenServiceV2"]
	path = vendor/TweenServiceV2
	url = https://github.com/Steadyon/TweenServiceV2.git
[submodule "vendor/roblox-additive-game"]
	path = vendor/roblox-additive-game
	url = https://github.com/awsdataarchitect/roblox-additive-game.git
[submodule "vendor/foreman"]
	path = vendor/foreman
	url = https://github.com/Roblox/foreman.git
[submodule "vendor/jest-roblox"]
	path = vendor/jest-roblox
	url = https://github.com/Roblox/jest-roblox.git
[submodule "vendor/setup-foreman"]
	path = vendor/setup-foreman
	url = https://github.com/meta-introspector/setup-foreman.git
